* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f2eadf;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0; */
}
.container {
  height: auto;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.15);
  width: 45rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.5rem;
}
main {
  background-color: rgb(63, 63, 63);
  padding-bottom: 1.5rem;
}
.archived {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
}
.icon {
  color: white;
  font-size: 1.9rem;
  margin-top: -1px;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
}
.archived-icon-container {
  display: flex;
  gap: 1.7rem;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 3rem;
}
.actual-message {
  color: rgb(151, 151, 151);
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
.actual-time {
  color: rgb(151, 151, 151);
  font-size: 1.3rem;
  position: absolute;
  right: 0.8rem;
}
.span {
  background-color: rgb(91, 204, 166);
  color: black;
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
  border: 0;
  border-radius: 90%;
  position: absolute;
  right: 0.4rem;
}
span {
  display: flex;
  align-items: center;
}
.open-message {
  display: flex;
  align-items: center;
  padding-top: 2px;
}
.messages {
  display: flex;
  margin-left: 4px;
  align-items: center;
  position: relative;
}
.messages-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 1rem;
}
.title {
  font-size: 1.8rem;
  padding-bottom: 1px;
}
.texts {
  color: white;
  padding-left: 8px;
}
.texts-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
